# Xcode
build/
DerivedData/
*.xcuserdata
xcuserdata/
*.xcworkspace/xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Xcode build
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Archives
*.xcarchive

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# Misc
*.swp
*~

# Release artifacts
*.dmg
